@import '~normalize.css/normalize.css';

* {
  box-sizing: border-box;
}

.scene {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.carousel {
  position: fixed;
  width: 100%;
  height: 100%;

  &__next-button {
    position: absolute;
    bottom: 40px;
    right: 40px;
  }
}